:root {
  --font-base: "Open Sans";
  --font-code: "Hack";
  --font-title: "Oswald";
  --font-quote: "Oswald";
  --color-deep: #21545E;
  --color-high: #CE5C56;
  --color-lite: #dfdfdf;
  --color-dark: #313131;
  --color-link: var(--color-deep);
  --color-link-hover: var(--color-high);
  --nav-background-color: var(--color-dark);
  --nav-border-color: var(--color-high);
  --nav-logo-text-color: var(--color-lite);
  --nav-logo-quote-color: var(--color-high);
  --nav-logo-space-opacity: 0.05;
  --nav-logo-operator-opacity: 0.25;
  --nav-link-count: 7;
  --nav-logo-height: 32px;
  --nav-link-size: 16px;
  --gap-size: 8px;
  --code-padding: 16px;
  --min-margin: 32px;
  --max-width: 800px;
  --min-width: calc(360px - 2 * var(--min-margin));
  --margin: calc(max((100vw - var(--max-width)) / 2, var(--min-margin)));
}

.navbar {
  background: var(--nav-background-color);
  width: 100%;
  border-bottom: solid 2px var(--nav-border-color);
}

.navbar-container {
  display: grid;
  align-items: center;
  justify-items: start;
  padding-top: var(--gap-size);
  padding-bottom: var(--gap-size);
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin-left: var(--margin);
  margin-right: var(--margin);
  grid-template-columns: repeat(var(--nav-link-count), var(--nav-link-size)) auto;
  grid-template-rows: auto var(--nav-link-size);
  column-gap: var(--gap-size);
  row-gap: var(--gap-size);
}

.navbar-logo {
  display: flex;
  grid-row: 1;
  grid-column: 1 / span calc(var(--nav-link-count) + 1);

  svg {
    height: var(--nav-logo-height);
  }
  svg.text {
    fill: var(--nav-logo-text-color);
  }
  svg.space {
    fill: var(--nav-logo-text-color);
    fill-opacity: var(--nav-logo-space-opacity);
  }
  svg.operator {
    fill: var(--nav-logo-text-color);
    fill-opacity: var(--nav-logo-operator-opacity);
  }
  svg.quote {
    fill: var(--nav-logo-quote-color);
  }
  svg.favicon {
    fill: var(--color-high);
  }
}

.navbar-link {
  display: flex;
  grid-row: 2;

  svg {
    width: var(--nav-link-size);
    height: var(--nav-link-size);
    fill: var(--color-link);
  }
  svg:hover {
    fill: var(--color-link-hover);
  }
  a:after {
    content: none;
  }
}

.content {
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin-left: var(--margin);
  margin-right: var(--margin);
}

body {
  font-family: var(--font-base), sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

code {
  font-family: var(--font-code), monospace;
  background-color: var(--color-lite);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

a:after {
  padding-left: 4px;
  font-size: 0.6em;
  vertical-align: super;
  content: "⤴";
}

pre {
  padding: var(--code-padding);
  overflow: auto;
}

pre code {
  font-size: 0.9em;
  background-color: transparent;
}

pre[data-linenos] {
  padding: var(--code-padding) 0;
}

pre table {
  width: 100%;
  border-collapse: collapse;
}

pre table td {
  padding: 0;
}

pre table td:nth-of-type(1) {
  text-align: right;
  padding: 0 var(--code-padding) 0 0;
  user-select: none;
  opacity: 0.1;
  width: calc(var(--code-padding) * 2);
}

.avatar {
  width: 208px;
  height: 208px;
  margin: 8px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-title {
  font-family: var(--font-code), monospace;
  font-size: 2em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.title {
  font-family: var(--font-title), sans-serif;
  font-size: 2em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.subtitle {
  font-family: var(--font-title), sans-serif;
  font-size: 1em;
  margin-block-start: 0.5em;
  margin-block-end: 2.0em;
}

h1 {
  font-family: var(--font-title), sans-serif;
  font-size: 1.8em;
}

h2 {
  font-family: var(--font-title), sans-serif;
  font-size: 1.5em;
}

h3 {
  font-family: var(--font-title), sans-serif;
  font-size: 1.2em;
}

h4 {
  font-family: var(--font-title), sans-serif;
  font-size: 1.0em;
}

h5 {
  font-family: var(--font-title), sans-serif;
  font-size: 1.0em;
}

h6 {
  font-family: var(--font-title), sans-serif;
  font-size: 1.0em;
}

blockquote {
  font-family: var(--font-quote), sans-serif;
  margin-inline-start: var(--min-margin);
  margin-inline-end: 0px;
}

::selection {
  background: var(--color-deep);
  color: var(--color-lite);
}