<!DOCTYPE html>
<html lang="{{ config.default_language }}">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css">
  <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}">
</head>

<body>
  {% include "navbar.html" %}
  <div class="content">
    {% block content %} {% endblock %}
  </div>
</body>

</html>